*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
*.log
*.log.*
node_modules
dist
build
lib
coverage
_ts2js
es
ios
android
yarn.lock
assets/index.css
package-lock.json
